#introduction {
    padding-top: 30px;
}

#d3Viz {
    padding-top: 30px;
}

#d3Subtitle {
    margin-bottom: 0px;
}

#vegaLiteViz {
    padding-top: 30px;
}

#vegaLiteSubtitle {
    margin-bottom: 0px;
}